.about-background {
    background-color: #dfedee;
}

.about-spacing {
    padding: 0 3%;
}

@media screen and (min-width: 700px) {

    .about-spacing {
        padding: 0 10%;
    }  
}

@media screen and (min-width: 1400px) {
    .about-spacing {
        padding: 0 15%;
    }
}