@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Roboto", sans-serif; 
  margin: 0;
  padding: 0;
  color: #24265d; 
  background-color: #dfedee;
}

.text-shadow {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-stretch: expanded;
  text-shadow: 2px 4px 4px #6666b0;
  font-size: 3rem;
  padding-bottom: 2%;
}

.card-text, ul, .card-title, h5 {
  color: #24265d;
}

.emphasize-text {
  font-weight: 700;
  font-size: 1.5rem;
}


.bold-text {
    font-weight: bolder;
    font-size: 1.5em;
}

.bolder-text {
  font-weight: bolder;
}


.white-shadow {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-stretch: expanded;
}

.white-link {
  text-decoration: none;
  color: #fff;
}

.navy-button {
  color: #fff;
  background-color: #24265d;;
}

.navy-button:hover {
  background-color: #1411d8;
  color: #fff;
}

hr {
  border-top: 4px solid #24265d;
}


@media screen and (min-width: 1900px) {
  .site {
      max-width: 1900px;
      margin: 0 auto;
      background-color: #5c5c82; 
    }
  }





